footer {
			background-color: #FF2600;
			color: white;
			position:absolute;
  			left:0px;
   			bottom:0px;
   			width:100%;
		}
		
		
		div.container {
			min-height: 100%;
			position: relative;
		}
		p.footer {
			text-align: center;
		}
		header {
			text-align: center;

		}
		small.h1 {
			color: black;
		}
		small.h2 {
			color: red;
		}
		ul {
		list-style-type: none;
		}
		a {
			text-decoration: none;
			color: white;
		}
		body {
			background-color: lightgray;
			font-family: avenir next;
			margin: 0;
		}
		
		html {
		}
		

		div.question {
		text-align: center;
		}
		p.home {
			font-weight: bold;
		}
		div.about {
			background-color: #FF2600;
			color: white;
			text-align: center;
		}

		div.top {
			background-color: #FF2600;
			color: white;
			text-align: center;
		}
		h2.contact {
			background-color: #FF2600;
			color: white;
			text-align: center;
		}

		button.health, button.contact, button.next, button.prev {
			background-color: #FF2600;
			color: white;
		}

		[v-cloak] {
  		display: none;
		}